In [1]:
import os # Operating System
import numpy as np
import pandas as pd
import datetime as dt # Datetime
import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

!conda install -c conda-forge folium=0.5.0 --yes
import folium #import folium # map rendering library

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2020.6.20          |   py36h9f0ad1d_0         151 KB  conda-forge
    ca-certificates-2020.6.20  |       hecda079_0         145 KB  conda-forge
    openssl-1.1.1g             |       h516909a_0         2.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-2.0.0                |     pyh9f0ad1d_0          63 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0          conda-forge
    geopy:           2.0.0-pyh9f0ad1d_0 conda-forge
    python_abi:      3.6-1_cp36m        conda-forge

The following packages will be UPDATED:

    ca-certificates: 2020.1.1-0                     --> 2020.6.20-hecda079_0     conda-forge
    certifi:         2020.6.20-py36_0               --> 2020.6.20-py36h9f0ad1d_0 conda-forge
    openssl:         1.1.1g-h7b6447c_0              --> 1.1.1g-h516909a_0        conda-forge


Downloading and Extracting Packages
certifi-2020.6.20    | 151 KB    | ##################################### | 100%
ca-certificates-2020 | 145 KB    | ##################################### | 100%
openssl-1.1.1g       | 2.1 MB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
geopy-2.0.0          | 63 KB     | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.4.1               |             py_0          26 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    altair-4.1.0               |             py_1         614 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         713 KB

The following NEW packages will be INSTALLED:

    altair:  4.1.0-py_1 conda-forge
    branca:  0.4.1-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
branca-0.4.1         | 26 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [2]:
#Read the data for examination (Source: http://landregistry.data.gov.uk/)
df_ppd = pd.read_csv("http://prod2.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2018.csv")

In [3]:
df_ppd.head(5)

,{79A74E21-D11E-1289-E053-6B04A8C01627},770000,2018-09-25 00:00,SK7 1AR,D,N,F,5,Unnamed: 8,OAK MEADOW,BRAMHALL,STOCKPORT,STOCKPORT.1,GREATER MANCHESTER,A,A.1
0,{79A74E21-D11F-1289-E053-6B04A8C01627},253500,2018-09-24 00:00,M6 8GQ,D,N,F,1,NaN,RIVINGTON ROAD,NaN,SALFORD,SALFORD,GREATER MANCHESTER,A,A
1,{79A74E21-D120-1289-E053-6B04A8C01627},231950,2018-09-28 00:00,WA3 2UE,D,Y,F,35,NaN,STONEACRE CLOSE,LOWTON,WARRINGTON,WIGAN,GREATER MANCHESTER,A,A
2,{79A74E21-D121-1289-E053-6B04A8C01627},112500,2018-08-29 00:00,OL6 6RJ,S,N,F,102,NaN,THORNFIELD GROVE,NaN,ASHTON-UNDER-LYNE,TAMESIDE,GREATER MANCHESTER,A,A
3,{79A74E21-D122-1289-E053-6B04A8C01627},184995,2018-06-15 00:00,M46 0TW,S,Y,F,37,NaN,THREADNEEDLE PLACE,ATHERTON,MANCHESTER,WIGAN,GREATER MANCHESTER,A,A
4,{79A74E21-D123-1289-E053-6B04A8C01627},214995,2018-09-28 00:00,M28 3XS,D,Y,L,9,NaN,MARPLE GARDENS,WORSLEY,MANCHESTER,SALFORD,GREATER MANCHESTER,A,A

In [4]:
df_ppd.shape

(1029929, 16)

In [5]:
# Assign meaningful column names
df_ppd.columns = ['TUID', 'Price', 'Date_Transfer', 'Postcode', 'Prop_Type', 'Old_New', 'Duration', 'PAON', \
                  'SAON', 'Street', 'Locality', 'Town_City', 'District', 'County', 'PPD_Cat_Type', 'Record_Status']

In [6]:
# Format the date column
df_ppd['Date_Transfer'] = df_ppd['Date_Transfer'].apply(pd.to_datetime)

# Delete all obsolete transactions which were done before 2016
df_ppd.drop(df_ppd[df_ppd.Date_Transfer.dt.year < 2016].index, inplace=True)

# Sort by Date of Sale
df_ppd.sort_values(by=['Date_Transfer'],ascending=[False],inplace=True)

In [7]:
df_ppd_london = df_ppd.query("Town_City == 'LONDON'")

# Make a list of street names in LONDON
streets = df_ppd_london['Street'].unique().tolist()

In [8]:
df_grp_price = df_ppd_london.groupby(['Street'])['Price'].mean().reset_index()

# Give meaningful names to the columns
df_grp_price.columns = ['Street', 'Avg_Price']

In [9]:
#Input your Budget's Upper Limit and Lower Limit - Find the locations df_grp_price which fits your budget
df_affordable = df_grp_price.query("(Avg_Price >= 2200000) & (Avg_Price <= 2500000)")

In [10]:
# Display the dataframe
df_affordable

                      Street     Avg_Price
196            ALBION SQUARE  2.450000e+06
390              ANHALT ROAD  2.435000e+06
405          ANSDELL TERRACE  2.250000e+06
422          APPLEGARTH ROAD  2.400000e+06
855          BARONSMEAD ROAD  2.375000e+06
981           BEAUCLERC ROAD  2.480000e+06
1102         BELVEDERE DRIVE  2.340000e+06
1215       BICKENHALL STREET  2.208500e+06
1253       BIRCHLANDS AVENUE  2.217000e+06
1553          BRAMPTON GROVE  2.456875e+06
1632       BRIARDALE GARDENS  2.397132e+06
1797                BROOKWAY  2.400000e+06
1914            BURBAGE ROAD  2.445000e+06
1980               BURY WALK  2.492500e+06
2068         CALLCOTT STREET  2.375000e+06
2129       CAMPDEN HILL ROAD  2.379653e+06
2136            CAMPION ROAD  2.461000e+06
2158           CANNING PLACE  2.425000e+06
2225           CARLISLE ROAD  2.200000e+06
2230         CARLTON GARDENS  2.483500e+06
2242           CARLYLE COURT  2.300000e+06
2406          CHALCOT SQUARE  2.286679e+06
2484            CHARLES LANE  2.414000e+06
2562        CHELSEA CRESCENT  2.495000e+06
2606     CHESTER CLOSE NORTH  2.450000e+06
2638            CHEYNE COURT  2.250000e+06
2641              CHEYNE ROW  2.410000e+06
2686           CHISWICK MALL  2.287500e+06
2761               CITY ROAD  2.468340e+06
2808        CLARENDON STREET  2.250000e+06
...                      ...           ...
10935   RUSSELL GARDENS MEWS  2.300000e+06
11183         SETTLES STREET  2.487500e+06
11258         SHELDON AVENUE  2.349542e+06
11492          SOUTH END ROW  2.470000e+06
11569    SOUTHWOOD LAWN ROAD  2.350000e+06
11572         SOVEREIGN PARK  2.500000e+06
11789  ST MARGARETS CRESCENT  2.216500e+06
11825       ST OSWALDS PLACE  2.250000e+06
11845       ST PETERS SQUARE  2.468730e+06
11882       STAFFORD TERRACE  2.355000e+06
12222       SUTHERLAND PLACE  2.456000e+06
12284          SYDNEY STREET  2.240833e+06
12426            THAMES BANK  2.400000e+06
12488            THE HEXAGON  2.335000e+06
12767        TREDEGAR SQUARE  2.436666e+06
12829         TRINITY STREET  2.317500e+06
12979   UPPER HAMPSTEAD WALK  2.500000e+06
13241        WALPOLE GARDENS  2.303500e+06
13243         WALPOLE STREET  2.242500e+06
13317         WARWICK SQUARE  2.432273e+06
13416            WELBECK WAY  2.267000e+06
13428      WELLESLEY TERRACE  2.410000e+06
13439      WELLINGTON STREET  2.293155e+06
13571     WESTMORELAND PLACE  2.300000e+06
13678       WHITFIELD STREET  2.451000e+06
13723         WILFRED STREET  2.410538e+06
13749     WILLOW BRIDGE ROAD  2.425000e+06
13769          WILSON STREET  2.257500e+06
13797        WINCHENDON ROAD  2.350000e+06
13834           WINGATE ROAD  2.206400e+06

[162 rows x 2 columns]

In [17]:
import pandas as pd
import numpy as np
import datetime as DT
import hmac
from geopy.geocoders import Nominatim
from geopy.distance import vincenty
# import k-means from clustering stage
from sklearn.cluster import KMeans

ImportError: cannot import name 'vincenty'

In [14]:
for index, item in df_affordable.iterrows():
    print(f"index: {index}")
    print(f"item: {item}")
    print(f"item.Street only: {item.Street}")

index: 196
item: Street       ALBION SQUARE
Avg_Price         2.45e+06
Name: 196, dtype: object
item.Street only: ALBION SQUARE
index: 390
item: Street       ANHALT ROAD
Avg_Price      2.435e+06
Name: 390, dtype: object
item.Street only: ANHALT ROAD
index: 405
item: Street       ANSDELL TERRACE
Avg_Price           2.25e+06
Name: 405, dtype: object
item.Street only: ANSDELL TERRACE
index: 422
item: Street       APPLEGARTH ROAD
Avg_Price            2.4e+06
Name: 422, dtype: object
item.Street only: APPLEGARTH ROAD
index: 855
item: Street       BARONSMEAD ROAD
Avg_Price          2.375e+06
Name: 855, dtype: object
item.Street only: BARONSMEAD ROAD
index: 981
item: Street       BEAUCLERC ROAD
Avg_Price          2.48e+06
Name: 981, dtype: object
item.Street only: BEAUCLERC ROAD
index: 1102
item: Street       BELVEDERE DRIVE
Avg_Price           2.34e+06
Name: 1102, dtype: object
item.Street only: BELVEDERE DRIVE
index: 1215
item: Street       BICKENHALL STREET
Avg_Price           2.2085e+06
Name: 1215, dtype: object
item.Street only: BICKENHALL STREET
index: 1253
item: Street       BIRCHLANDS AVENUE
Avg_Price            2.217e+06
Name: 1253, dtype: object
item.Street only: BIRCHLANDS AVENUE
index: 1553
item: Street       BRAMPTON GROVE
Avg_Price       2.45688e+06
Name: 1553, dtype: object
item.Street only: BRAMPTON GROVE
index: 1632
item: Street       BRIARDALE GARDENS
Avg_Price          2.39713e+06
Name: 1632, dtype: object
item.Street only: BRIARDALE GARDENS
index: 1797
item: Street       BROOKWAY
Avg_Price     2.4e+06
Name: 1797, dtype: object
item.Street only: BROOKWAY
index: 1914
item: Street       BURBAGE ROAD
Avg_Price       2.445e+06
Name: 1914, dtype: object
item.Street only: BURBAGE ROAD
index: 1980
item: Street        BURY WALK
Avg_Price    2.4925e+06
Name: 1980, dtype: object
item.Street only: BURY WALK
index: 2068
item: Street       CALLCOTT STREET
Avg_Price          2.375e+06
Name: 2068, dtype: object
item.Street only: CALLCOTT STREET
index: 2129
item: Street       CAMPDEN HILL ROAD
Avg_Price          2.37965e+06
Name: 2129, dtype: object
item.Street only: CAMPDEN HILL ROAD
index: 2136
item: Street       CAMPION ROAD
Avg_Price       2.461e+06
Name: 2136, dtype: object
item.Street only: CAMPION ROAD
index: 2158
item: Street       CANNING PLACE
Avg_Price        2.425e+06
Name: 2158, dtype: object
item.Street only: CANNING PLACE
index: 2225
item: Street       CARLISLE ROAD
Avg_Price          2.2e+06
Name: 2225, dtype: object
item.Street only: CARLISLE ROAD
index: 2230
item: Street       CARLTON GARDENS
Avg_Price         2.4835e+06
Name: 2230, dtype: object
item.Street only: CARLTON GARDENS
index: 2242
item: Street       CARLYLE COURT
Avg_Price          2.3e+06
Name: 2242, dtype: object
item.Street only: CARLYLE COURT
index: 2406
item: Street       CHALCOT SQUARE
Avg_Price       2.28668e+06
Name: 2406, dtype: object
item.Street only: CHALCOT SQUARE
index: 2484
item: Street       CHARLES LANE
Avg_Price       2.414e+06
Name: 2484, dtype: object
item.Street only: CHARLES LANE
index: 2562
item: Street       CHELSEA CRESCENT
Avg_Price           2.495e+06
Name: 2562, dtype: object
item.Street only: CHELSEA CRESCENT
index: 2606
item: Street       CHESTER CLOSE NORTH
Avg_Price               2.45e+06
Name: 2606, dtype: object
item.Street only: CHESTER CLOSE NORTH
index: 2638
item: Street       CHEYNE COURT
Avg_Price        2.25e+06
Name: 2638, dtype: object
item.Street only: CHEYNE COURT
index: 2641
item: Street       CHEYNE ROW
Avg_Price      2.41e+06
Name: 2641, dtype: object
item.Street only: CHEYNE ROW
index: 2686
item: Street       CHISWICK MALL
Avg_Price       2.2875e+06
Name: 2686, dtype: object
item.Street only: CHISWICK MALL
index: 2761
item: Street         CITY ROAD
Avg_Price    2.46834e+06
Name: 2761, dtype: object
item.Street only: CITY ROAD
index: 2808
item: Street       CLARENDON STREET
Avg_Price            2.25e+06
Name: 2808, dtype: object
item.Street only: CLARENDON STREET
index: 2900
item: Street       CLONCURRY STREET
Avg_Price         2.38833e+06
Name: 2900, dtype: object
item.Street only: CLONCURRY STREET
index: 2944
item: Street       COLBECK MEWS
Avg_Price      2.3675e+06
Name: 2944, dtype: object
item.Street only: COLBECK MEWS
index: 2995
item: Street       COLLEGE CRESCENT
Avg_Price            2.44e+06
Name: 2995, dtype: object
item.Street only: COLLEGE CRESCENT
index: 3202
item: Street       CORNWALL TERRACE MEWS
Avg_Price                 2.35e+06
Name: 3202, dtype: object
item.Street only: CORNWALL TERRACE MEWS
index: 3255
item: Street       COURT LANE GARDENS
Avg_Price              2.36e+06
Name: 3255, dtype: object
item.Street only: COURT LANE GARDENS
index: 3377
item: Street       CRESCENT GROVE
Avg_Price         2.298e+06
Name: 3377, dtype: object
item.Street only: CRESCENT GROVE
index: 3583
item: Street       DALEBURY ROAD
Avg_Price          2.4e+06
Name: 3583, dtype: object
item.Street only: DALEBURY ROAD
index: 3848
item: Street       DEWHURST ROAD
Avg_Price        2.425e+06
Name: 3848, dtype: object
item.Street only: DEWHURST ROAD
index: 3929
item: Street       DORIA ROAD
Avg_Price    2.3625e+06
Name: 3929, dtype: object
item.Street only: DORIA ROAD
index: 3980
item: Street       DOWNSHIRE HILL
Avg_Price         2.225e+06
Name: 3980, dtype: object
item.Street only: DOWNSHIRE HILL
index: 4035
item: Street       DUCHESS WALK
Avg_Price      2.4775e+06
Name: 4035, dtype: object
item.Street only: DUCHESS WALK
index: 4232
item: Street       ECCLESTON SQUARE MEWS
Avg_Price               2.3355e+06
Name: 4232, dtype: object
item.Street only: ECCLESTON SQUARE MEWS
index: 4285
item: Street       EGBERT STREET
Avg_Price        2.265e+06
Name: 4285, dtype: object
item.Street only: EGBERT STREET
index: 4289
item: Street       EGERTON PLACE
Avg_Price          2.2e+06
Name: 4289, dtype: object
item.Street only: EGERTON PLACE
index: 4375
item: Street       ELM PARK ROAD
Avg_Price      2.32042e+06
Name: 4375, dtype: object
item.Street only: ELM PARK ROAD
index: 4894
item: Street       FLORAL STREET
Avg_Price      2.22722e+06
Name: 4894, dtype: object
item.Street only: FLORAL STREET
index: 5016
item: Street       FRANK DIXON WAY
Avg_Price         2.2125e+06
Name: 5016, dtype: object
item.Street only: FRANK DIXON WAY
index: 5098
item: Street       FULTON MEWS
Avg_Price      2.299e+06
Name: 5098, dtype: object
item.Street only: FULTON MEWS
index: 5241
item: Street       GERARD ROAD
Avg_Price     2.2585e+06
Name: 5241, dtype: object
item.Street only: GERARD ROAD
index: 5244
item: Street       GERRARD ROAD
Avg_Price      2.2425e+06
Name: 5244, dtype: object
item.Street only: GERRARD ROAD
index: 5289
item: Street       GIRDLERS ROAD
Avg_Price      2.44167e+06
Name: 5289, dtype: object
item.Street only: GIRDLERS ROAD
index: 5382
item: Street       GLOUCESTER CRESCENT
Avg_Price            2.35083e+06
Name: 5382, dtype: object
item.Street only: GLOUCESTER CRESCENT
index: 5450
item: Street       GORDON PLACE
Avg_Price       2.477e+06
Name: 5450, dtype: object
item.Street only: GORDON PLACE
index: 5486
item: Street       GRAFTON SQUARE
Avg_Price          2.27e+06
Name: 5486, dtype: object
item.Street only: GRAFTON SQUARE
index: 5493
item: Street       GRAHAM TERRACE
Avg_Price         2.325e+06
Name: 5493, dtype: object
item.Street only: GRAHAM TERRACE
index: 5952
item: Street       HARMAN DRIVE
Avg_Price      2.2625e+06
Name: 5952, dtype: object
item.Street only: HARMAN DRIVE
index: 5976
item: Street       HARRIS STREET
Avg_Price      2.47177e+06
Name: 5976, dtype: object
item.Street only: HARRIS STREET
index: 6039
item: Street       HAVANNAH STREET
Avg_Price        2.21731e+06
Name: 6039, dtype: object
item.Street only: HAVANNAH STREET
index: 6111
item: Street       HAZLEWELL ROAD
Avg_Price           2.5e+06
Name: 6111, dtype: object
item.Street only: HAZLEWELL ROAD
index: 6227
item: Street       HEREFORD MEWS
Avg_Price         2.31e+06
Name: 6227, dtype: object
item.Street only: HEREFORD MEWS
index: 6247
item: Street       HERONDALE AVENUE
Avg_Price           2.475e+06
Name: 6247, dtype: object
item.Street only: HERONDALE AVENUE
index: 6344
item: Street       HIGHGATE HIGH STREET
Avg_Price               2.211e+06
Name: 6344, dtype: object
item.Street only: HIGHGATE HIGH STREET
index: 6359
item: Street       HIGHWOOD HILL
Avg_Price       2.2525e+06
Name: 6359, dtype: object
item.Street only: HIGHWOOD HILL
index: 6395
item: Street       HILLGATE PLACE
Avg_Price           2.2e+06
Name: 6395, dtype: object
item.Street only: HILLGATE PLACE
index: 6506
item: Street       HOLLYCROFT AVENUE
Avg_Price          2.36138e+06
Name: 6506, dtype: object
item.Street only: HOLLYCROFT AVENUE
index: 6510
item: Street       HOLLYWOOD MEWS
Avg_Price          2.35e+06
Name: 6510, dtype: object
item.Street only: HOLLYWOOD MEWS
index: 6555
item: Street       HONEYWELL ROAD
Avg_Price       2.27833e+06
Name: 6555, dtype: object
item.Street only: HONEYWELL ROAD
index: 6611
item: Street       HORTENSIA ROAD
Avg_Price       2.27592e+06
Name: 6611, dtype: object
item.Street only: HORTENSIA ROAD
index: 6640
item: Street       HOXTON SQUARE
Avg_Price      2.23429e+06
Name: 6640, dtype: object
item.Street only: HOXTON SQUARE
index: 6666
item: Street       HUNTER ROAD
Avg_Price        2.3e+06
Name: 6666, dtype: object
item.Street only: HUNTER ROAD
index: 6825
item: Street       JACKSONS LANE
Avg_Price       2.3625e+06
Name: 6825, dtype: object
item.Street only: JACKSONS LANE
index: 6885
item: Street       JOHN STREET
Avg_Price      2.235e+06
Name: 6885, dtype: object
item.Street only: JOHN STREET
index: 7190
item: Street       KINNERTON STREET
Avg_Price          2.4856e+06
Name: 7190, dtype: object
item.Street only: KINNERTON STREET
index: 7224
item: Street       KNARESBOROUGH PLACE
Avg_Price              2.325e+06
Name: 7224, dtype: object
item.Street only: KNARESBOROUGH PLACE
index: 7244
item: Street       KNOX STREET
Avg_Price       2.25e+06
Name: 7244, dtype: object
item.Street only: KNOX STREET
index: 7264
item: Street       LADBROKE GROVE
Avg_Price        2.4833e+06
Name: 7264, dtype: object
item.Street only: LADBROKE GROVE
index: 7333
item: Street       LANCASTER MEWS
Avg_Price        2.3125e+06
Name: 7333, dtype: object
item.Street only: LANCASTER MEWS
index: 7403
item: Street       LANSDOWNE ROAD
Avg_Price       2.36488e+06
Name: 7403, dtype: object
item.Street only: LANSDOWNE ROAD
index: 7432
item: Street       LATIMER INDUSTRIAL ESTATE
Avg_Price                      2.4e+06
Name: 7432, dtype: object
item.Street only: LATIMER INDUSTRIAL ESTATE
index: 7485
item: Street       LAXTON PLACE
Avg_Price         2.5e+06
Name: 7485, dtype: object
item.Street only: LAXTON PLACE
index: 7687
item: Street       LINCOLN AVENUE
Avg_Price        2.2035e+06
Name: 7687, dtype: object
item.Street only: LINCOLN AVENUE
index: 7716
item: Street       LINGFIELD ROAD
Avg_Price       2.24875e+06
Name: 7716, dtype: object
item.Street only: LINGFIELD ROAD
index: 7745
item: Street       LISSON STREET
Avg_Price       2.4625e+06
Name: 7745, dtype: object
item.Street only: LISSON STREET
index: 7779
item: Street       LIVERPOOL GROVE
Avg_Price          2.288e+06
Name: 7779, dtype: object
item.Street only: LIVERPOOL GROVE
index: 7871
item: Street       LONGWOOD DRIVE
Avg_Price         2.375e+06
Name: 7871, dtype: object
item.Street only: LONGWOOD DRIVE
index: 7877
item: Street       LONSDALE SQUARE
Avg_Price         2.3575e+06
Name: 7877, dtype: object
item.Street only: LONSDALE SQUARE
index: 8415
item: Street       MAZE HILL
Avg_Price     2.25e+06
Name: 8415, dtype: object
item.Street only: MAZE HILL
index: 8550
item: Street       MIDDLESEX PASSAGE
Avg_Price             2.28e+06
Name: 8550, dtype: object
item.Street only: MIDDLESEX PASSAGE
index: 8714
item: Street       MONTPELIER AVENUE
Avg_Price              2.5e+06
Name: 8714, dtype: object
item.Street only: MONTPELIER AVENUE
index: 8724
item: Street       MONTPELIER WALK
Avg_Price           2.32e+06
Name: 8724, dtype: object
item.Street only: MONTPELIER WALK
index: 8872
item: Street       MULTON ROAD
Avg_Price        2.3e+06
Name: 8872, dtype: object
item.Street only: MULTON ROAD
index: 8877
item: Street       MUNDEN STREET
Avg_Price         2.25e+06
Name: 8877, dtype: object
item.Street only: MUNDEN STREET
index: 9151
item: Street       NORFOLK CRESCENT
Avg_Price         2.22333e+06
Name: 9151, dtype: object
item.Street only: NORFOLK CRESCENT
index: 9174
item: Street       NORTH CIRCULAR ROAD
Avg_Price            2.39314e+06
Name: 9174, dtype: object
item.Street only: NORTH CIRCULAR ROAD
index: 9250
item: Street       NOTTINGHAM STREET
Avg_Price           2.2275e+06
Name: 9250, dtype: object
item.Street only: NOTTINGHAM STREET
index: 9325
item: Street       OAKLEY STREET
Avg_Price      2.38129e+06
Name: 9325, dtype: object
item.Street only: OAKLEY STREET
index: 9336
item: Street       OAKWOOD COURT
Avg_Price      2.34875e+06
Name: 9336, dtype: object
item.Street only: OAKWOOD COURT
index: 9344
item: Street       OBSERVATORY GARDENS
Avg_Price               2.42e+06
Name: 9344, dtype: object
item.Street only: OBSERVATORY GARDENS
index: 9379
item: Street       OLD COURT PLACE
Avg_Price          2.395e+06
Name: 9379, dtype: object
item.Street only: OLD COURT PLACE
index: 9440
item: Street       ONSLOW MEWS WEST
Avg_Price             2.3e+06
Name: 9440, dtype: object
item.Street only: ONSLOW MEWS WEST
index: 9572
item: Street       PALACE PLACE
Avg_Price         2.3e+06
Name: 9572, dtype: object
item.Street only: PALACE PLACE
index: 9601
item: Street       PANTON STREET
Avg_Price        2.475e+06
Name: 9601, dtype: object
item.Street only: PANTON STREET
index: 9620
item: Street       PARK CRESCENT
Avg_Price         2.44e+06
Name: 9620, dtype: object
item.Street only: PARK CRESCENT
index: 9629
item: Street        PARK LANE
Avg_Price    2.2415e+06
Name: 9629, dtype: object
item.Street only: PARK LANE
index: 9650
item: Street       PARKE ROAD
Avg_Price    2.2625e+06
Name: 9650, dtype: object
item.Street only: PARKE ROAD
index: 9653
item: Street       PARKFIELDS
Avg_Price       2.2e+06
Name: 9653, dtype: object
item.Street only: PARKFIELDS
index: 9690
item: Street       PARTHENIA ROAD
Avg_Price       2.20057e+06
Name: 9690, dtype: object
item.Street only: PARTHENIA ROAD
index: 9722
item: Street       PAVILION ROAD
Avg_Price          2.2e+06
Name: 9722, dtype: object
item.Street only: PAVILION ROAD
index: 9783
item: Street       PEMBRIDGE MEWS
Avg_Price         2.251e+06
Name: 9783, dtype: object
item.Street only: PEMBRIDGE MEWS
index: 9785
item: Street       PEMBRIDGE ROAD
Avg_Price           2.4e+06
Name: 9785, dtype: object
item.Street only: PEMBRIDGE ROAD
index: 9794
item: Street       PEMBROKE STUDIOS
Avg_Price            2.45e+06
Name: 9794, dtype: object
item.Street only: PEMBROKE STUDIOS
index: 9799
item: Street       PENCOMBE MEWS
Avg_Price          2.2e+06
Name: 9799, dtype: object
item.Street only: PENCOMBE MEWS
index: 9879
item: Street       PETERSHAM PLACE
Avg_Price            2.3e+06
Name: 9879, dtype: object
item.Street only: PETERSHAM PLACE
index: 9894
item: Street       PHILLIMORE GARDENS
Avg_Price           2.48467e+06
Name: 9894, dtype: object
item.Street only: PHILLIMORE GARDENS
index: 9902
item: Street       PHYSIC PLACE
Avg_Price         2.5e+06
Name: 9902, dtype: object
item.Street only: PHYSIC PLACE
index: 9940
item: Street       PITFIELD STREET
Avg_Price        2.48333e+06
Name: 9940, dtype: object
item.Street only: PITFIELD STREET
index: 10150
item: Street       PRINCES GATE
Avg_Price     2.40333e+06
Name: 10150, dtype: object
item.Street only: PRINCES GATE
index: 10178
item: Street       PRIORY ROAD
Avg_Price    2.24826e+06
Name: 10178, dtype: object
item.Street only: PRIORY ROAD
index: 10189
item: Street       PROTHERO GARDENS
Avg_Price          2.2025e+06
Name: 10189, dtype: object
item.Street only: PROTHERO GARDENS
index: 10225
item: Street       PUTNEY HIGH STREET
Avg_Price            2.3486e+06
Name: 10225, dtype: object
item.Street only: PUTNEY HIGH STREET
index: 10242
item: Street       QUARRENDON STREET
Avg_Price          2.43775e+06
Name: 10242, dtype: object
item.Street only: QUARRENDON STREET
index: 10275
item: Street       QUEENS GATE TERRACE
Avg_Price            2.39944e+06
Name: 10275, dtype: object
item.Street only: QUEENS GATE TERRACE
index: 10329
item: Street       RADSTOCK STREET
Avg_Price         2.2175e+06
Name: 10329, dtype: object
item.Street only: RADSTOCK STREET
index: 10374
item: Street       RANELAGH AVENUE
Avg_Price            2.3e+06
Name: 10374, dtype: object
item.Street only: RANELAGH AVENUE
index: 10482
item: Street       REDCLIFFE ROAD
Avg_Price       2.44875e+06
Name: 10482, dtype: object
item.Street only: REDCLIFFE ROAD
index: 10507
item: Street       REEVES MEWS
Avg_Price       2.45e+06
Name: 10507, dtype: object
item.Street only: REEVES MEWS
index: 10564
item: Street       RHEIDOL MEWS
Avg_Price        2.31e+06
Name: 10564, dtype: object
item.Street only: RHEIDOL MEWS
index: 10619
item: Street       RINGWOOD AVENUE
Avg_Price          2.275e+06
Name: 10619, dtype: object
item.Street only: RINGWOOD AVENUE
index: 10700
item: Street       RODERICK ROAD
Avg_Price          2.4e+06
Name: 10700, dtype: object
item.Street only: RODERICK ROAD
index: 10757
item: Street       ROPEMAKERS FIELDS
Avg_Price              2.5e+06
Name: 10757, dtype: object
item.Street only: ROPEMAKERS FIELDS
index: 10872
item: Street       ROYAL CRESCENT
Avg_Price       2.34833e+06
Name: 10872, dtype: object
item.Street only: ROYAL CRESCENT
index: 10878
item: Street       ROYAL HILL
Avg_Price    2.2525e+06
Name: 10878, dtype: object
item.Street only: ROYAL HILL
index: 10935
item: Street       RUSSELL GARDENS MEWS
Avg_Price                 2.3e+06
Name: 10935, dtype: object
item.Street only: RUSSELL GARDENS MEWS
index: 11183
item: Street       SETTLES STREET
Avg_Price        2.4875e+06
Name: 11183, dtype: object
item.Street only: SETTLES STREET
index: 11258
item: Street       SHELDON AVENUE
Avg_Price       2.34954e+06
Name: 11258, dtype: object
item.Street only: SHELDON AVENUE
index: 11492
item: Street       SOUTH END ROW
Avg_Price         2.47e+06
Name: 11492, dtype: object
item.Street only: SOUTH END ROW
index: 11569
item: Street       SOUTHWOOD LAWN ROAD
Avg_Price               2.35e+06
Name: 11569, dtype: object
item.Street only: SOUTHWOOD LAWN ROAD
index: 11572
item: Street       SOVEREIGN PARK
Avg_Price           2.5e+06
Name: 11572, dtype: object
item.Street only: SOVEREIGN PARK
index: 11789
item: Street       ST MARGARETS CRESCENT
Avg_Price               2.2165e+06
Name: 11789, dtype: object
item.Street only: ST MARGARETS CRESCENT
index: 11825
item: Street       ST OSWALDS PLACE
Avg_Price            2.25e+06
Name: 11825, dtype: object
item.Street only: ST OSWALDS PLACE
index: 11845
item: Street       ST PETERS SQUARE
Avg_Price         2.46873e+06
Name: 11845, dtype: object
item.Street only: ST PETERS SQUARE
index: 11882
item: Street       STAFFORD TERRACE
Avg_Price           2.355e+06
Name: 11882, dtype: object
item.Street only: STAFFORD TERRACE
index: 12222
item: Street       SUTHERLAND PLACE
Avg_Price           2.456e+06
Name: 12222, dtype: object
item.Street only: SUTHERLAND PLACE
index: 12284
item: Street       SYDNEY STREET
Avg_Price      2.24083e+06
Name: 12284, dtype: object
item.Street only: SYDNEY STREET
index: 12426
item: Street       THAMES BANK
Avg_Price        2.4e+06
Name: 12426, dtype: object
item.Street only: THAMES BANK
index: 12488
item: Street       THE HEXAGON
Avg_Price      2.335e+06
Name: 12488, dtype: object
item.Street only: THE HEXAGON
index: 12767
item: Street       TREDEGAR SQUARE
Avg_Price        2.43667e+06
Name: 12767, dtype: object
item.Street only: TREDEGAR SQUARE
index: 12829
item: Street       TRINITY STREET
Avg_Price        2.3175e+06
Name: 12829, dtype: object
item.Street only: TRINITY STREET
index: 12979
item: Street       UPPER HAMPSTEAD WALK
Avg_Price                 2.5e+06
Name: 12979, dtype: object
item.Street only: UPPER HAMPSTEAD WALK

In [15]:
geolocator = Nominatim()

ConfigurationError: Using Nominatim with default or sample `user_agent` "geopy/2.0.0" is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`.

In [ ]:
df_affordable['city_coord'] = df_affordable['Street'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))

In [ ]:
df_affordable

In [ ]:
df_affordable[['Latitude', 'Longitude']] = df_affordable['city_coord'].apply(pd.Series)

In [ ]:
df_affordable

In [ ]:
df = df_affordable.drop(columns=['city_coord'])

In [ ]:
df

In [ ]:
address = 'London, UK'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London City are {}, {}.'.format(latitude, longitude))

In [ ]:
# create map of London using latitude and longitude values
map_london = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, price, street in zip(df['Latitude'], df['Longitude'], df['Avg_Price'], df['Street']):
    label = '{}, {}'.format(street, price)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_london)  
    
map_london

In [ ]:
#Define Foursquare Credentials and Version

CLIENT_ID = 'KI3TR0QO4JOKMFELOMF3WSOOI3HFNBF5YLW354MYWBKDHEX3' # Foursquare ID
CLIENT_SECRET = 'QF4ZBLJRBV4BQX52DVWUPEHJ14A2UJABPCZARZQZYTKIISUD' # Foursquare Secret
VERSION = '20181206' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

In [ ]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Street', 
                  'Street Latitude', 
                  'Street Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [ ]:
# Run the above function on each location and create a new dataframe called location_venues and display it.
location_venues = getNearbyVenues(names=df['Street'],
                                   latitudes=df['Latitude'],
                                   longitudes=df['Longitude']
                                  )

In [ ]:
location_venues

In [ ]:
location_venues.groupby('Street').count()

In [ ]:
# get the List of Unique Categories
print('There are {} uniques categories.'.format(len(location_venues['Venue Category'].unique())))

In [ ]:
location_venues.shape

In [ ]:
# one hot encoding
venues_onehot = pd.get_dummies(location_venues[['Venue Category']], prefix="", prefix_sep="")

# add street column back to dataframe
venues_onehot['Street'] = location_venues['Street'] 

# move street column to the first column
fixed_columns = [venues_onehot.columns[-1]] + list(venues_onehot.columns[:-1])

#fixed_columns
venues_onehot = venues_onehot[fixed_columns]

venues_onehot.head()

In [ ]:
london_grouped = venues_onehot.groupby('Street').mean().reset_index()
london_grouped

In [ ]:
london_grouped.shape

In [12]:
# What are the top 5 venues/facilities nearby profitable real estate investments?#

num_top_venues = 5

for hood in london_grouped['Street']:
    print("----"+hood+"----")
    temp = london_grouped[london_grouped['Street'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

NameError: name 'london_grouped' is not defined

In [ ]:
# Define a function to return the most common venues/facilities nearby real estate investments#

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [ ]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Street']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

In [ ]:
# create a new dataframe
venues_sorted = pd.DataFrame(columns=columns)
venues_sorted['Street'] = london_grouped['Street']

for ind in np.arange(london_grouped.shape[0]):
    venues_sorted.iloc[ind, 1:] = return_most_common_venues(london_grouped.iloc[ind, :], num_top_venues)

In [ ]:
venues_sorted.head()

In [ ]:
venues_sorted.shape

In [ ]:
london_grouped.shape

In [ ]:
london_grouped=df

In [ ]:
#Distribute in 5 Clusters

# set number of clusters
kclusters = 5

london_grouped_clustering = london_grouped.drop('Street', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(london_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:50]

In [ ]:
#Dataframe to include Clusters

london_grouped_clustering=df
london_grouped_clustering.head()

In [ ]:
london_grouped_clustering.shape

In [ ]:
df.shape

In [ ]:
london_grouped_clustering.dtypes

In [ ]:
df.dtypes

In [ ]:
# add clustering labels
london_grouped_clustering['Cluster Labels'] = kmeans.labels_

# merge london_grouped with london_data to add latitude/longitude for each neighborhood
london_grouped_clustering = london_grouped_clustering.join(venues_sorted.set_index('Street'), on='Street')

london_grouped_clustering.head(30) # check the last columns!

In [ ]:
# Create Map

map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(london_grouped_clustering['Latitude'], london_grouped_clustering['Longitude'], london_grouped_clustering['Street'], london_grouped_clustering['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [ ]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 0, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

In [ ]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 1, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

In [ ]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 2, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

In [ ]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 3, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

In [ ]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 4, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()